header {
  padding: 50px;
  background: rgb(11, 133, 229);
  color: #ffffff;
  text-align: center;
}

transaction-table {
  overflow: scroll;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}