<header>
  <h1>
    {{ role == roles.MANAGER? 'Gestión': 'Control'}} de transacciones
  </h1>
</header>

<mat-card *ngIf="transactionsModel.pollingFailed">
  <p class="connection-lost">Has perdido la conexión, las transacciones no se actualizarán en tiempo real.</p>
</mat-card>

<transaction-operations
  *ngIf="role === roles.MANAGER"
  (operationSelected)="onOperationSelected($event)">
</transaction-operations>

<transaction-table
  *ngIf="transactionsModel"
  [transactions]="transactionsModel.transactions"
  [applyDiscounts]="transactionsModel.applyDiscounts"
  [markDuplicates]="transactionsModel.markDuplicates"
  [showUndocumented]="transactionsModel.showUndocumented"
  >
</transaction-table>

<page-navigation 
  *ngIf="transactionsModel && !transactionsModel.pollingFailed"
  [page]="transactionsModel.page"
  (pageChange)="onPageChange($event)">
</page-navigation>
