<table mat-table [dataSource]="transactions" class="mat-elevation-z3">

  <ng-container matColumnDef="transactionId">
    <th mat-header-cell *matHeaderCellDef> Id. Transacción </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
  </ng-container>
  
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> Id. Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <ng-container matColumnDef="isNewUser">
    <th mat-header-cell *matHeaderCellDef> ¿Es nuevo? </th>
    <td mat-cell *matCellDef="let element"> {{ element.isNewUser? 'Sí' : 'No' }} </td>
  </ng-container>

  <ng-container matColumnDef="moneyAmount">
    <th mat-header-cell *matHeaderCellDef> Cantidad (€) </th>
    <td 
      mat-cell *matCellDef="let element"> 
      <del *ngIf="applyDiscounts"> 
        {{ element.moneyAmount | currency:'EUR':'symbol-narrow' }}
      </del>
      {{ getMoneyAmount(element) | currency:'EUR':'symbol-narrow' }} 
    </td>
    
  </ng-container>
  
  <ng-container matColumnDef="origin">
    <th mat-header-cell *matHeaderCellDef> Origen </th>
    <td mat-cell *matCellDef="let element">
      <button 
        mat-raised-button
        (click)="showLocationDetails(element.origin)">
        {{element.origin.id}}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destino </th>
    <td mat-cell *matCellDef="let element">
      <button 
        mat-raised-button
        (click)="showLocationDetails(element.destination)">
        {{element.destination.id}}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="requiresDocumentation">
    <th mat-header-cell *matHeaderCellDef> Requiere documentación </th>
    <td mat-cell *matCellDef="let element">{{ isUndocumented(element)? 'Sí': 'No' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" [ngClass]="{
    duplicatedTransacionRow: markDuplicates && isDuplicated(row)
  }"></tr>
  
</table>