.mat-row.duplicatedTransacionRow {
  background-color: rgba(255, 217, 0, 0.342);
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

table td {
  text-align: center;
}

table th, table td {
  padding: 10px;
}

del {
  font-size: 10px;
  color: hsla(209, 100%, 13%, 0.438);
  display: block;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}